#titulo-caption, #titulo-caption p{
	color: #3F3E3E !important;
	font-family: 'Montserrat Light';
	font-size: 22px;
	letter-spacing: 1;
	line-height: 110%;
	text-transform: uppercase;
}

#descripcion-caption, #descripcion-caption p{
	color: #154C94 !important;
	font-family: 'Montserrat';
	font-size: 50px;
	letter-spacing: -1;
	line-height: 110%;
	text-transform: capitalize;
	margin-top: 15px !important;
}